p {
    font-style: italic;
}
div, 
p, 
span{ font-size: 12pt;}

span{
    background-color: cornflowerblue;
    font-weight: bold;
}
h4{
    color: cadetblue;
    text-decoration: line-through;
    text-align: center;
}
.try{
    background-color: black;
    color: crimson;
}